html,body{
    margin:0;
    padding:0;
}
#headbar{
    display:flex;
    border:1px,solid black;
}
#web_name{
    transform:translateX(50px);
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight:50;
  font-style: normal;
  color:Red;
}
.headnav{
    font-size: 17px;
    text-decoration: none;
    color:black;
}
#navbar{
    display:flex;
    gap:50px;
    transform:translateX(400px)translateY(25px);;
}
#Login{
    transform:translateX(700px) translateY(20px);
    display:flex;
    gap:10px;
    
}
#log{
    border:2px,solid red;
    background:white;
    width:100px;
    height:35px;
    border-radius:30px;
    color:red;
    font-size:20px;
}
#sign{
    width:100px;
    height:35px;
    border-radius:30px;
    font-size:20px;
    background:red;
    color:white;
    border:2px,solid red;
}